@page
@model Register

@{
}

<h1>Register a new user!</h1>

<form method="post">
    <label>Email: </label>
    <input type="email" asp-for="Email" required />
    <label>Password: </label>
    <input type="password" asp-for="Password" required />
    <button type="submit">Register</button>
</form>
   
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h2 class="text-danger">@Model.ErrorMessage</h2>
}